@import '~antd/dist/antd.css';

body {
  background: linear-gradient(-135deg, #83a4d4 0%, #b6fbff 100%);
}

#root {
  height: 100%;
}

@mixin main-container {
  position: relative;
  margin: 10px;
  padding: 10px;
  flex-grow: 1;
  max-height: calc(100vh - 210px);
  overflow: auto;
  box-shadow: 0 -4px 6px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  border-radius: 4px;
}

.App {
  text-align: center;
  font-size: 14px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.camera-button {
  background: none;
  padding: 0;
  border: none;
}

.camera-icon {
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.upload-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;

  div, label {
    cursor: pointer;
  }
}

.upload-img-container {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-img-list {
  height: calc(100% - 32px);
  display: flex;
  width: 100%;
  justify-content: center;
  overflow-x: auto;

  img {
    height: calc(100% - 20px);
    margin: 10px;
    object-fit: contain;
  }
}

.gallery-container {
  @include main-container;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  justify-items: center;
  grid-gap: 20px;
}

.gallery-item {
  cursor: pointer;
  width: 100%;
  height: 260px;
  object-fit: contain;
  background: snow;
  border-radius: 4px;
  box-shadow: 0 4px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.ant-spin-spinning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-empty {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.empty-container {
  @include main-container
}
