.image-modal {
  .ant-modal {
    position: absolute;
    top: 30px !important;
    bottom: 30px !important;
    left: 30px !important;
    right: 30px !important;
    width: unset !important;

    @media (max-width: 767px) {
      top: 15px !important;
      bottom: 15px !important;
      left: 15px !important;
      right: 15px !important;
    }
  }

  .crop-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    padding: 0;
    background: transparent;
    cursor: pointer;
    opacity: 0.3;

    &:hover {
      opacity: 0.7;
    }
  }

  .ant-modal-content {
    height: 100%;
    width: 100%;
  }

  .ant-modal-body {
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .ant-modal-close-x {
    line-height: 30px;
    height: 26px;
    width: 26px;
  }
  img {
    @media only screen and (orientation: landscape) {
      height: 100%;
    }
    @media only screen and (orientation: portrait) {
      width: 100%;
    }
    object-fit: contain;
  }

  .zoom-slider, .rotate-slider {
    width: 320px;
    position: absolute;
    text-align: left;
  }
  .zoom-slider {
    bottom: 0;
  }
  .rotate-slider {
    bottom: 50px;
  }
}
