.webcam-modal {

  .ant-modal-close-x {
    display: none;
  }

  video {
    width: 100%;
  }

  .ant-modal-body {
    text-align: center;
    padding: 10px;
  }
}

.take-photo-button {
  width: 100%;
  border: none;
}
